<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.gswxxn.hidedevicon">

    <application
            android:label="HideDEVIcon"
            android:icon="@drawable/icon"
            tools:ignore="AllowBackup">

    <meta-data
            android:name="xposedmodule"
            android:value="true"/>

    <meta-data
            android:name="xposedminversion"
            android:value="54"/>

    <meta-data
            android:name="xposedscope"
            android:value="com.android.systemui"/>

    <meta-data
            android:name="xposeddescription"
            android:value="隐藏MIUI勇者标识"/>
    </application>


</manifest>